<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="lms.genericLibraries.ListenerImplemention"/>
<listener class-name="lms.genericLibraries.ExtentReporterNG"/>
</listeners>
  <test thread-count="5" name="Test">
  <parameter name="browser" value="firefox"/>
    <classes>
      <class name="com.lnitest.LniTest">
      <methods>
      <include name="submitLNIAndpproveRequest"></include>
      </methods>
      </class>
   </classes>
</test>
</suite>
